.three-dots-loader {
  text-align: center;
}

.three-dots-loader > div {
  display: inline-block;
  margin: 1px;
  width: 18px;
  height: 18px;
  background-color: black;
  border-radius: 50%;

  animation-name: kf-bounce;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
}

.bounce1 {
  animation-delay: -0.32s;
}
.bounce2 {
  animation-delay: -0.16s;
}

@keyframes kf-bounce {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
